/* src/pages/AllActorsPage.css */

/* Tái sử dụng .movie-card nên chỉ cần định dạng phần meta riêng */
.aa-actor-meta {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #aaa;
  /* Đẩy phần này xuống cuối thẻ */
  margin-top: auto;
  padding-top: 10px;
}

.aa-container {
  /* text-align: center; */
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
}

.aa-info-item {
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aa-loading {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
  color: #ccc;
}